<head>
    <link rel="stylesheet" type="text/css" href="/styles/footer.css">
</head>

<body class="bg-info">
    <header class="p-3 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <img src="https://cdn0.iconfinder.com/data/icons/website-15/512/web-online-05-256.png" alt="Logo"
                        width="40" height="34" class="d-inline-block align-text-top">
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="/productos" class="nav-link px-2 text-info">eCommerce</a></li>
                    <li><a href="/productos" class="nav-link px-2 text-white">Products</a></li>
                    <li><a href="/carrito" class="nav-link px-2 text-white">Cart</a></li>
                    <li><a href="/chat" class="nav-link px-2 text-white">Chat</a></li>
                </ul>

                <div class="text-end">
                    <a href="/logout" class="btn btn-outline-light me-2">Logout</a>
                    <!--<button type="button" class="btn btn-warning">Sign-up</button>-->
                </div>
            </div>
        </div>
    </header>

    <div class="container mt-4">
        <div class="d-flex flex-row align-items-center justify-content-between">
            <div class="p-2"></div>
            <div class="fs-1 fw-bold p-2">Products</div>
            <div class="p-2"><a href="/productos/add"><img
                        src="https://cdn3.iconfinder.com/data/icons/shopping-and-retail-2-2/512/Untitled-10-55-256.png"
                        style="height:  3rem"></a></div>
        </div>

        <div class="container mt-4">
            <div class="row">
                <div class="col">
                    {{#if products}}
                    <table class="table align-middle table-dark table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Title</th>
                                <th scope="col">Price</th>
                                <th scope="col">Category</th>
                                <th scope="col">Description</th>
                                <th scope="col">Thumbnail</th>
                                <th scope="col"><!--<a href="/productos/add"
                                        class="btn btn-light btn-sm w-50 fw-semibold shadow-sm">Add Product</a>--></th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each products}}
                            <tr>
                                <td>{{this.title}}</td>
                                <td>{{this.price}}</td>
                                <td>{{this.category}}</td>
                                <td>{{this.description}}</td>
                                <td><img style="width: 40px; height:40px" src={{this.thumbnail}}></td>
                                <td>
                                    <a href="/productos/id_prod/{{this.id}}"
                                        class="btn btn-info btn-sm w-100 fw-semibold shadow-sm ">See</a>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                    {{else}}
                    <div class="d-flex justify-content-center">
                        <h2>There are no products</h2>
                    </div>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="container">
            <hr class="featurette-divider">
        </div>
        <div class="d-flex justify-content-center align-items-center">
            <p>© 2023 Juan Ignacio Colli · <a href="https://github.com/JuanIgnacio25" target="_blank"><img
                        src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-social-github-64.png"
                        alt="google-icon" style="height: 1.6rem"></a> · <a
                    href="https://www.linkedin.com/in/juan-ignacio-colli-317696218/" target="_blank"><img
                        src="https://cdn3.iconfinder.com/data/icons/capsocial-round/500/linkedin-64.png"
                        alt="google-icon" style="height: 1.6rem"></a></p>
        </div>
    </footer>

</body>