<head>
    <link rel="stylesheet" type="text/css" href="/styles/footer.css">
</head>

<body class="bg-info">
    <header class="p-3 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <img src="https://cdn0.iconfinder.com/data/icons/website-15/512/web-online-05-256.png" alt="Logo"
                        width="40" height="34" class="d-inline-block align-text-top">
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="/productos" class="nav-link px-2 text-info">Ecommerce</a></li>
                    <li><a href="/productos" class="nav-link px-2 text-white">Products</a></li>
                    <li><a href="/carrito" class="nav-link px-2 text-white">Cart</a></li>
                    <li><a href="/chat" class="nav-link px-2 text-white">Chat</a></li>
                </ul>

                <div class="text-end">
                    <a href="/logout" class="btn btn-outline-light me-2">Logout</a>
                    <!--<button type="button" class="btn btn-warning">Sign-up</button>-->
                </div>
            </div>
        </div>
    </header>
    <div class="d-flex py-5 justify-content-center">
        <div class="card" style="border-radius: 20px; width: 485px;">
            <div class="mt-2" data-mdb-ripple-color="light">
                {{#if isAdmin}}
                <div class="d-flex justify-content-end">
                    <form action="/productos/put/{{product.id}}" method="get">
                        <input src="https://cdn0.iconfinder.com/data/icons/zondicons/20/wrench-256.png"
                            alt="wrench-icon" style="height:  1.5rem" type="image">
                    </form>

                    <input src="https://cdn3.iconfinder.com/data/icons/web-design-and-development-2-18/48/94-256.png"
                        alt="garbageCan-icon" style="height:  1.5rem" type="image"
                        onclick="confirmDelete({{product.id}})">
                </div>
                {{/if}}

                <div class="d-flex justify-content-center">
                    <img src={{product.thumbnail}} style="height: 10rem" class="img-fluid" alt="Product" />
                </div>

            </div>
            <div class="d-flex justify-content-center">
                <h4 class="mt-2">{{product.title}}</h4>
            </div>
            <hr class="my-0" />
            <div class="card-body ">
                <div>
                    <div class="d-flex align-items-center gap-1">
                        <img src="https://cdn2.iconfinder.com/data/icons/boxicons-solid-vol-1/24/bxs-category-256.png"
                            alt="category-icon" style="height:  1.5rem">
                        <h6 class="pt-1">Category:</h6>
                        <h6 class="pt-1 text-secondary">{{product.category}}</h6>
                    </div>
                </div>
            </div>
            <hr class="my-0" />
            <div class="card-body ">
                <div>
                    <div class="d-flex align-items-center gap-1">
                        <img src="https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_description_48px-256.png"
                            alt="category-icon" style="height:  1.5rem">
                        <h6 class="pt-1">Description:</h6>
                        <h6 class="pt-1 text-secondary">{{product.description}}</h6>
                    </div>
                </div>
            </div>
            <hr class="my-0" />
            <div class="card-body ">
                <div>
                    <div class="d-flex align-items-center gap-1">
                        <img src="https://cdn2.iconfinder.com/data/icons/money-coin-finance-solid-style/91/Money_Coin_Finance_b01-256.png"
                            alt="category-icon" style="height:  1.5rem">
                        <h6 class="pt-1">Price:</h6>
                        <h6 class="pt-1 text-secondary">${{product.price}}</h6>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <form method="POST" action="/carrito/{{product.id}}">
                    <div class="d-flex justify-content-center">
                        <select class="form-select-bg-size form-select-sm" aria-label=".form-select-lg example"
                            name="quantity">
                            <option selected value="1">1 unit</option>
                            <option value="2">2 unit</option>
                            <option value="3">3 unit</option>
                            <option value="4">4 unit</option>
                        </select>
                    </div>
                    <div class="d-flex justify-content-center pb-2 mb-1 mt-2">
                        <button type="submit" class="btn btn-info">Add to Cart</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <footer>
        <div class="container">
            <hr class="featurette-divider">
        </div>
        <div class="d-flex justify-content-center align-items-center">
            <p>© 2023 Juan Ignacio Colli · <a href="https://github.com/JuanIgnacio25" target="_blank"><img
                        src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-social-github-64.png"
                        alt="google-icon" style="height: 1.6rem"></a> · <a
                    href="https://www.linkedin.com/in/juan-ignacio-colli-317696218/" target="_blank"><img
                        src="https://cdn3.iconfinder.com/data/icons/capsocial-round/500/linkedin-64.png"
                        alt="google-icon" style="height: 1.6rem"></a></p>
        </div>
    </footer>

    <script>
        const confirmDelete = (id) => {
            Swal.fire({
                title: 'Are you sure you want to remove this product?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire(
                        'Deleted!',
                        'Your file has been deleted.',
                        'succes'
                    )

                    let datosJSON = JSON.stringify({ id });

                    fetch(`/productos/delete/${id}`, {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: datosJSON
                    }).then(() => {
                        window.location.replace('/productos')
                    });
                }
            })
        }
    </script>

</body>